<launch>
        <!-- Common base part -->
        <include file="$(find iri_wam_base)/launch/wam_common_base.launch" />
		<param name="robot_description" command="$(find xacro)/xacro.py '$(find iri_wam_simulator)/gazebo/xacro/iri_wam.gazebo.xacro'" />
        
        <!-- Name of Action Server (controllers) -->
        <param name="/iri_wam_move_iri_wam/controller_action_name" type="string" value="iri_ros_controller/follow_joint_trajectory" />

		<!-- Load Default Controllers -->
		<rosparam command="load" file="$(find iri_wam_simulator)/controllers/config/iri_ros_controller.yaml" />
		<rosparam command="load" file="$(find iri_wam_simulator)/controllers/config/iri_ros_pose_controller.yaml" />

		<!--Start Default Controllers-->
       <node name="iri_ros_controller"  pkg="pr2_controller_manager" type="spawner" output="screen"   args="iri_ros_controller" />
       <node name="iri_ros_pose_controller"  pkg="pr2_controller_manager" type="spawner" output="screen"   args="iri_ros_pose_controller" />

		<!-- Start Gazebo -->
        <node name="gazebo" pkg="gazebo" type="gazebo" 
              args="-s -1 -u $(find gazebo_worlds)/worlds/empty.world" respawn="false" output="screen">
        </node>
        
        <!-- Spawn WAM in Gazebo -->
        <node name="spawn_iri_wam_model" pkg="gazebo" type="spawn_model" 
              args="$(optenv ROBOT_INITIAL_POSE) -unpause -urdf -param robot_description -model iri_wam" respawn="false" output="screen">
        </node>
        
        
       <!-- Start Default Action Server for Diamondback
        <group ns="iri_ros_controller">
        <node name="joint_trajectory_action" pkg="joint_trajectory_action" type="joint_trajectory_action" />
        </group>
        -->
        
</launch>
