<launch>
  <!--Base part for Simualtor-->
  <include file="$(find iri_wam_simulator)/launch/wam_sim_base.launch" />  
	
  <!-- Name of Action Server (controllers) -->
  <param name="/iri_wam_move_arm/controller_action_name" type="string" value="/iri_ros_controller/follow_joint_trajectory" />

  <!--Launch Navigation-->
<!--  <include file="$(find iri_wam_arm_navigation)/launch/iri_wam_arm_navigation.launch"/>  -->
</launch>
