<!-- -->
<launch>
  <node pkg="iri_hokuyo_laser" type="iri_hokuyo_laser"
        name="rear_laser"
        machine="laurel">
        <param name="frame_id" value="$(env ROBOT)/rear_laser" />
    <param name="use_ethernet" value="True" />
    <param name="ip_address" value="192.168.0.10" />
    <param name="angle_min" value="-1.5" />
    <param name="angle_max" value="1.5" />
  </node>
</launch>