<!-- -->

<launch>

  <param name="brl/robot_description" command="cat $(find tibi_dabo_base)/model/brl.urdf" />

  <!-- joint state publisher node -->
  <node pkg="joint_state_publisher" type="joint_state_publisher" name="brl_joint_state_publisher">
    <remap from="robot_description" to="brl/robot_description" />
  </node>

  <!-- robot state publisher node -->
  <node pkg="robot_state_publisher" type="state_publisher" name="brl_robot_state_publisher">
    <remap from="robot_description" to="brl/robot_description" />
  </node>

</launch>