<?xml version="1.0"?>
<robot xmlns:sensor="http://playerstage.sourceforge.net/gazebo/xmlschema/#sensor"
       xmlns:controller="http://playerstage.sourceforge.net/gazebo/xmlschema/#controller"
       xmlns:interface="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface"
       name="iri_wam">

  <include filename="$(find iri_wam_description)/xacro/wam_sim.urdf.xacro" />

  <gazebo>
	<!--<controller:wam_gazebo name="wam_driver" plugin="libwam_gazebo.so">
		<alwaysOn>true</alwaysOn>
		<update>1000</update>
		<updateRate>1000.0</updateRate>
	    <b1>wambase</b1>
		<b2>wam_fk/wam1</b2>
		<b3>wam_fk/wam2</b3>
		<b4>wam_fk/wam3</b4>
		<b5>wam_fk/wam4</b5>
		<b6>wam_fk/wam5</b6>
		<b7>wam_fk/wam6</b7>
		<b8>wam_fk/wam7</b8>		
    	<joint1>j1</joint1>
		<joint2>j2</joint2>
		<joint3>j3</joint3>
		<joint4>j4</joint4>
		<joint5>j5</joint5>
		<joint6>j6</joint6>
		<joint7>j7</joint7>	
		<robotNamespace>/</robotNamespace>
	</controller:wam_gazebo>
	-->
	<controller:gazebo_ros_controller_manager name="gazebo_ros_controller_manager" plugin="libgazebo_ros_controller_manager.so">
      <alwaysOn>true</alwaysOn>
      <update>1000</update>
      <updateRate>1000.0</updateRate>
      <robotParam>robot_wam_description</robotParam>
      <robotNamespace>/</robotNamespace>
    </controller:gazebo_ros_controller_manager>
  </gazebo>
 </robot>
