<launch>

    <group ns="iri_wam_63">
        <node name="wam_wrapper" pkg="iri_wam_wrapper" type="iri_wam_wrapper" args="" respawn="false" output="screen">
            <param name="wam_ip" value="192.168.100.50" />	
            <param name="port" value="4321" />
            <param name="refresh_rate" value="100" />	
        </node>
    </group>

   <param name="/iri_wam_move_iri_wam/controller_action_name" type="string" value="iri_wam_63/follow_joint_trajectory" />

</launch>
