<?xml version="1.0"?>
<!-- 
     XACRO file to launch wam simulator 

     KEEP THIS FILE AS-IT!
     This file includes the full URDF xacro from iri_wam_description and
     the gazebo controller plugin. The URDF is used by other applications
     so the controller plugin can not be integrated there.
-->
  <robot name="iri_wam" xmlns:xacro="http://ros.org/wiki/xacro">
    <gazebo>
      <plugin name="gazebo_ros_control" plugin="libgazebo_ros_control.so">
        <alwaysOn>true</alwaysOn>
        <updateRate>1000.0</updateRate>
        <robotParam>robot_description</robotParam>
        <robotNamespace>/</robotNamespace>
      <plugin>
    </gazebo>

    <xacro:include filename="$(find iri_wam_description)/xacro/iri_wam.urdf.xacro" />
  </robot>
