<launch>
   <arg name="IP" />
   <arg name="port"         default="4321" />
   <arg name="refresh_rate" default="100" />

   <node name="wam_wrapper"
        pkg="iri_wam_wrapper"
        type="iri_wam_wrapper"
        output="screen">
      <param name="wam_ip"       value="$(arg IP)" />
      <param name="port"         value="$(arg port)" />
      <param name="refresh_rate" value="$(arg refresh_rate)" />
   </node>
  
  <include file="$(find iri_wam_arm_navigation)/launch/iri_wam_arm_navigation_testing.launch">
   <arg name="Type" value="real"/>
  </include>

</launch>
