<launch>

    <!-- publish gripper_tcp tf -->
    <node name="gripper_tcp_tf" pkg="tf" type="static_transform_publisher"
          args="0 0 0.10 0 0 0 1 /$(env ROBOT)_link_tcp /$(env ROBOT)_link_gripper_tcp 100" />

    <!-- Tool center point for the gripper -->
    <node name="$(env ROBOT)_gripper_ik" pkg="iri_wam_tcp_ik" type="iri_wam_tcp_ik">
       <param name="robot_base" type="str" value="/$(env ROBOT)_link_1" />
       <param name="robot_tcp" type="str" value="/$(env ROBOT)_link_7" />
       <param name="tool_tcp"  type="str" value="/$(env ROBOT)_link_gripper_tcp" />
       <remap from="$(env ROBOT)_gripper_ik/wamik" to="$(env ROBOT)_ik/wamik" />
    </node>

</launch>

