<launch>

    <arg name="ROBOT" default="iri_wam" />

    <!-- publish barrett_hand_tcp tf -->
    <node name="bhand_tcp_tf" pkg="tf" type="static_transform_publisher"
          args="0 0 0.10 0 0 0 1 /$(arg ROBOT)_link_tcp /$(arg ROBOT)_link_bhand_tcp 100" />

    <!-- Tool center point for the barrett_hand -->
    <node name="$(arg ROBOT)_bhand_ik" pkg="iri_wam_tcp_ik" type="iri_wam_tcp_ik">
       <param name="robot_base" type="str" value="/$(arg ROBOT)_link_base" />
       <param name="robot_tcp" type="str" value="/$(arg ROBOT)_link_tcp" />
       <param name="tool_tcp"  type="str" value="/$(arg ROBOT)_link_bhand_tcp" />
       <remap from="$(arg ROBOT)_bhand_ik/wamik" to="$(arg ROBOT)_ik/wamik" />
    </node>

</launch>
