<launch>

  <!-- start gazebo with an empty world -->
  <include file="$(find iri_wam_bringup)/launch/iri_wam_sim_bringup.launch" />
  
  <!-- push vertical_stick_description to factory and spawn vertical_stick in gazebo -->
  <include file="$(find iri_wam_gazebo)/launch/spawn_vertical_stick.launch" />
  
  <!-- start iri_wam_arm_navigation -->
  <include file="$(find iri_wam_arm_navigation)/launch/iri_wam_arm_navigation.launch" />
  
</launch>


