<launch>
<remap from="joint_states" to="wam_wrapper/joint_states" />
    <node pkg="move_arm" type="move_arm_simple_action" name="iri_wam_move_arm" output="screen">
        <param name="group" type="string" value="iri_wam" />
        <remap from="arm_ik" to="iri_wam_iri_wam_kinematics/get_constraint_aware_ik" />
      
       <param name="move_arm_frequency" type="double" value="40" />
    </node>
</launch>
