<launch>

	<!--	Description Robot -->
	<include file="$(find iri_wam_description)/launch/iri_wam_description.launch" />
	
	<!-- 	Kinemtatics	-->
    <remap from="/wam_ik/joint_states" to="iri_wam_63/wam_wrapper/joint_states"/>
    <remap from="/wam_ik/joint_move" to="iri_wam_63/wam_wrapper/joints_move"/>
    <node name="wam_ik" pkg="iri_wam_ik" type="wam_ikac" />
    
    
	<!-- Gazebo Simulator-->
    <include file="$(find iri_wam_gazebo)/launch/iri_wam_gazebo.launch" />
    
	<!-- Controller Manager -->
    <include file="$(find pr2_controller_manager)/controller_manager.launch" />

	<!-- Add arm Controller -->
	    <include file="$(find iri_wam_controllers)/launch/iri_wam_pr2_controller.launch" />

    

</launch>
