<launch> 

    <arg name="ROBOT"      default="iri_wam"  />
    <arg name="IK"         default="True"  />
    <arg name="SPADMETER"  default="False" />
    <arg name="CAMSPAD"    default="False" />
    <arg name="CAMBOARD"   default="False" />
    <arg name="BHAND"      default="False" />
    <arg name="GRIPPER_NC" default="False" />
    <arg name="KINECT"     default="False" />
    <arg name="ATI"        default="False" />
    <arg name="NO_TOOL"    default="False" />
    <arg name="MOVEIT"     default="False" />

    <!-- Machine definition -->
    <include file="$(find iri_wam_bringup)/machines/$(arg ROBOT).machine" />

    <!-- Load URDF WAM model -->
    <include file="$(find iri_wam_description)/launch/iri_wam_description.launch" >
       <arg name="ROBOT" value="$(arg ROBOT)"/>
    </include>

    <group ns="$(arg ROBOT)">
    
        <!-- IRI WAM ROS driver -->
        <!-- WAM ROS driver -->
        <include file="$(find iri_wam_controller)/launch/iri_wam_controller.launch">
           <arg name="ROBOT" value="$(arg ROBOT)"/>
           <arg name="IK" value="$(arg IK)"/>
        </include>
        
        <!-- ROBOT STATE PUBLISHER NODE -->
        <!-- published topics: -->
        <!-- subscribed topics: $/joint_states -->
        <!-- service clients: -->
        <!-- service servers: -->
        <!-- action clients: -->
        <!-- action servers: -->
        <node pkg ="robot_state_publisher"
              type="state_publisher"
              name="robot_state_publisher">
            <remap from="joint_states" to="/joint_states" />
        </node>
    
    </group>

    <!-- Spadmeter settings -->
    <include file="$(find iri_wam_bringup)/launch/iri_wam_bringup_spadmeter.launch" if="$(arg SPADMETER)" >
       <arg name="ROBOT" value="$(arg ROBOT)"/>
    </include>
 
    <!-- Spadmeter PMD Camboard settings -->
    <include file="$(find iri_wam_bringup)/launch/iri_wam_bringup_camboard_spad.launch" if="$(arg CAMSPAD)" >
       <arg name="ROBOT" value="$(arg ROBOT)"/>
    </include>

    <!-- Central configuration PMD Camboard settings -->
    <include file="$(find iri_wam_bringup)/launch/iri_wam_bringup_camboard.launch" if="$(arg CAMBOARD)" >
       <arg name="ROBOT" value="$(arg ROBOT)"/>
    </include>

    <!-- Barrett Hand settings -->
    <include file="$(find iri_wam_bringup)/launch/iri_wam_bringup_bhand.launch" if="$(arg BHAND)" >
       <arg name="ROBOT" value="$(arg ROBOT)"/>
    </include>

    <!-- Gripper NC settings -->
    <include file="$(find iri_wam_bringup)/launch/iri_wam_bringup_gripper_nc.launch" if="$(arg GRIPPER_NC)" >
       <arg name="ROBOT" value="$(arg ROBOT)"/>
    </include>

    <!-- Optional: Adding Kinect camera -->
    <include file="$(find iri_wam_bringup)/launch/iri_wam_bringup_kinect.launch" if="$(arg KINECT)" >
       <arg name="ROBOT" value="$(arg ROBOT)"/>
    </include>

    <!-- Optional: Adding ATI Force sensor -->
    <include file="$(find iri_wam_bringup)/launch/iri_wam_ati.launch" if="$(arg ATI)" >
       <arg name="ROBOT" value="$(arg ROBOT)"/>
    </include>

    <include file="$(find iri_wam_moveit_state_display)/launch/iri_wam_moveit_state_display.launch" if="$(arg MOVEIT)">
       <arg name="ROBOT" value="$(arg ROBOT)"/>
    </include>


</launch>

