<launch> 


<!-- Load urdf WAM model -->
    <include file="$(find iri_wam_description)/launch/iri_wam_description.launch" />

<!-- Controller Manager -->
    <remap from="/joint_states" to="iri_wam_63/wam_wrapper/joint_states"/>
    <include file="$(find pr2_controller_manager)/controller_manager.launch" />

<!-- Publish Inverse Kinematics -->
    <remap from="/wam_ik/joint_states" to="iri_wam_63/wam_wrapper/joint_states"/>
    <remap from="/wam_ik/joint_move" to="iri_wam_63/wam_wrapper/joints_move"/>
    <node name="wam_ik" pkg="iri_wam_ik" type="wam_ikac" />

<!-- Starts RVIZ -->
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find iri_wam_bringup)/launch/iri_wam_real.vcg" output="screen" />

<!-- start arm navigation stack -->
    <include file="$(find iri_wam_arm_navigation)/launch/iri_wam_arm_navigation.launch" />
</launch>


<!-- Publish Forward Kinematics (NOT NEEDED BECAUSE OF THE ROBOT STATE PKG ) -->
<!--
    <remap from="/wam_fk/tf" to="/tf"/>
    <remap from="/wam_fk/joint_states" to="/wam_driver_node/joint_states"/>
    <node name="wam_fk" pkg="iri_wam_fk" type="wam_fk" />
-->    

