<launch>
    <param name="/use_sim_time" value="true" />

    <node name="gazebo" pkg="gazebo" type="gazebo"
          args="$(find gazebo_worlds)/worlds/empty.world"
          output="screen"
          respawn="false" />

    <include file="$(find teo_gazebo_plugin)/launch/teo_mobile_base.launch" />
</launch>
