<launch>

  <!-- Publish Inverse Kinematics -->
  <node pkg ="iri_wam_ik"
        type="wam_ikac"
        name="$(env ROBOT)_ik"
        output="screen">
    <remap from="~joint_states"  to="/joint_states"/>
    <remap from="~joints_move"   to="/$(env ROBOT)_controller/joints_move"/>
  </node>

</launch>
