<?xml version="1.0"?>
<robot xmlns:sensor="http://playerstage.sourceforge.net/gazebo/xmlschema/#sensor"
       xmlns:controller="http://playerstage.sourceforge.net/gazebo/xmlschema/#controller"
       xmlns:interface="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface"
       xmlns:xacro="http://ros.org/wiki/xacro"
       name="iri_wam">
<xacro:macro name="Transmission" params="name jointName reduction torque">
       <transmission type="pr2_mechanism_model/SimpleTransmission" name="${name}_transmision">
           <actuator name="${name}_controller" />
            <joint name="${jointName}" />
            <mechanicalReduction>${reduction}</mechanicalReduction>
            <motorTorqueConstant>${torque}</motorTorqueConstant>
          <!--  <pulsesPerRevolution>90000</pulsesPerRevolution>-->
      </transmission>
</xacro:macro>
</robot>
