<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

<property name="M_PI" value="3.1415926535897931" />

<xacro:macro name="wambase">
  <link name="world" />

  <link name="wambase">
    <inertial>
      <mass value="20" />
      <origin xyz="0.175 0.14 0.08" rpy="0 0 0"/>
      <inertia  ixx="1.0" ixy="0.0"  ixz="0.0"  iyy="1.0"  iyz="0.0"  izz="1.0" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry name="wambase_visual">
        <mesh filename="package://iri_wam_description/mesh/wambase.stl" scale="1.0 1.0 1.0" />
      </geometry>
      <material name="LightGrey" >
        <color rgba="0.75 0.75 0.75 1.0"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry name="wambase_collision">
        <mesh filename="package://iri_wam_description/mesh/wambase.stl" scale="1.0 1.0 1.0" />
<!--        <box size="0.35 0.28 0.16"/>
-->
      </geometry>
    </collision>
  </link>
  <gazebo reference="wambase">
    <material>Gazebo/Grey</material>
    <selfCollide>true</selfCollide>
  </gazebo>

  <joint name="base_fix" type="fixed">
    <parent link="world"/>
    <child link="wambase"/>
    <origin rpy="0 0 0" xyz="0 0 0"/>
  </joint>

</xacro:macro>

</robot>
