<launch> 
 <remap from="/iri_wam_move_arm_node/syn_controller" to="/syn_iri_ros_controller/follow_joint_trajectory" /> 
 <remap from="/iri_wam_move_arm_node/move_arm" to="/move_iri_wam" />
 <remap from="syn_move_arm" to="/syn_move_iri_wam" />
 <remap from="controller_client_" to="/iri_ros_controller/follow_joint_trajectory" />

 <node name="iri_wam_move_arm_node"  type="iri_wam_move_arm"  pkg="iri_wam_move_arm" output="screen" />
 
</launch> 
