<!-- %Tag(FULL)%-->
<launch>


 <!-- iri segway node -->
  <node respawn="true"
        pkg="iri_segway_rmp200"
        type="iri_segway_rmp200"
        name="iri_segway_rmp200"
        launch-prefix="xterm -e ddd --args">

    <param name="dev" type="string" value="/dev/input/js0" />
    <param name="deadzone" value="0.12" />
  </node>


</launch>
<!-- %EndTag(FULL)%-->
