<launch>
    <node name="iri_wam_iri_wam_kinematics" pkg="arm_kinematics_constraint_aware" type="arm_kinematics_constraint_aware">
        <param name="group" type="string" value="iri_wam" />
        <param name="root_name" type="string" value="wam_link0" />
        <param name="tip_name" type="string" value="wam_tcp" />
        <param name="kinematics_solver" type="string" value="arm_kinematics_constraint_aware/KDLArmKinematicsPlugin" />
    </node>
</launch>
