<?xml version="1.0"?>
<robot xmlns:sensor="http://playerstage.sourceforge.net/gazebo/xmlschema/#sensor"
       xmlns:controller="http://playerstage.sourceforge.net/gazebo/xmlschema/#controller"
       xmlns:interface="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface"
       xmlns:xacro="http://ros.org/wiki/xacro"
       name="iri_wam">
      <!-- Constants -->  
 <xacro:property name="PI" value="3.1416" />
 <xacro:property name="M_PI" value="${PI / 2}" />

   <!-- Includes -->    
<include filename="$(find iri_wam_description)/xacro/transmission.urdf.xacro" />
<!-- MACROS -->
<xacro:macro name="intertial_default" params="mass">
	<inertial>
	   <origin xyz="0 0 0" rpy="0 0 0" />
       <mass value="${mass}"/>
       <inertia ixx="100"  ixy="0"  ixz="0" iyy="100" iyz="0" izz="100" />
	</inertial>
</xacro:macro>
<xacro:macro name="Inertial" params="mass GCxyz GCrpy ixx ixy ixz iyy iyz izz">
	<inertial>
	   <origin xyz="${GCxyz}" rpy="${GCrpy}" />
       <mass value="${mass}"/>
       <inertia ixx="${ixx}"  ixy="${ixy}"  ixz="${ixz}" iyy="${iyy}" iyz="${iyz}" izz="${izz}" />
	</inertial>
</xacro:macro>

<xacro:macro name= "geometry_default" params="name">
    <geometry name="${name}-geom">
       <mesh filename="package://iri_wam_description/mesh/${name}.stl"/>
    </geometry>
</xacro:macro>

<xacro:macro name= "material_default" params="name">
    <material name="${name}-mat">
       <color rgba="0.75 0.75 0.75 1.0"/>
    </material>
</xacro:macro>

<xacro:macro name="Visual" params="name xyz rpy">
    <visual>
       <origin xyz="${xyz}" rpy="${rpy}" />
       <xacro:geometry_default name="${name}"/>
       <xacro:material_default name="${name}"/>
    </visual>
</xacro:macro>

<xacro:macro name="Collision" params="name xyz rpy">
    <collision>
       <origin xyz="${xyz}" rpy="${rpy}" />
       <xacro:geometry_default name="${name}"/>
       <contact_coefficients mu="0" kp="1000.0" kd="1.0"/>
    </collision>
</xacro:macro>

<xacro:macro name="Link_Default"  params="name xyz rpy mass prefix">
  <link name="${prefix}${name}">
	<xacro:intertial_default mass="${mass}"/>
	<xacro:Visual name="${name}" xyz="${xyz}" rpy="${rpy}" />
	<xacro:Collision name="${name}" xyz="${xyz}" rpy="${rpy}"/>
  </link>
</xacro:macro>

<xacro:macro name="Link"  params="name xyz rpy mass GCxyz GCrpy ixx ixy ixz iyy iyz izz prefix">
  <link name="${prefix}${name}">
	<xacro:Inertial mass="${mass}" GCxyz="${GCxyz}" GCrpy="${GCrpy}" ixx="${ixx}" ixy="${ixy}" ixz="${ixz}" iyy="${iyy}" iyz="${iyz}" izz="${izz}" />
	<xacro:Visual name="${name}" xyz="${xyz}" rpy="${rpy}" />
	<xacro:Collision name="${name}" xyz="${xyz}" rpy="${rpy}"/>
  </link>
 </xacro:macro>

<xacro:macro name="Joint" params="name type xyz rpy upperLim lowerLim effort velocity axis parent child">
  <joint name="${name}" type="${type}">
      <parent link="${parent}"/>
      <child link="${child}"/>
      <origin xyz="${xyz}" rpy="${rpy}"/>
      <limit upper="${upperLim}" lower="${lowerLim}" effort="${effort}" velocity="${velocity}" />
      <axis xyz="${axis}"/>
  </joint>  
  
</xacro:macro>
  
  <!-- LINKS   -->  
  <xacro:Link_Default name="wambase" xyz="0 0 0" rpy="0 0 0" mass="1000" prefix=""/>
<!-- TODO: Try to add wam0 virtual Link and its corresponding joint since it is how it is defined on the real kinematics
           Not sure if this is possible -->
  <xacro:Link name="wam1" xyz="0 0 0" rpy="0 0 0" mass="8.3936" GCxyz="0.00035060 0.13268 0.00062860" GCrpy="0 0 0" ixx="0.24292" ixy="0.00063655" ixz="-0.0000093" iyy="0.092037" iyz="-0.00026265" izz="0.20705" prefix="wam_fk/"/>
  <xacro:Link name="wam2" xyz="0 0 0" rpy="0 0 0" mass="4.8487" GCxyz="-0.00022300 -0.021392 0.013375" GCrpy="0 0 0" ixx="0.032413" ixy="-0.0000020" ixz="-0.00014376" iyy="0.021649" iyz="-0.0000038" izz="0.025027" prefix="wam_fk/"/>
  <xacro:Link name="wam3" xyz="0 0 0" rpy="0 0 0" mass="1.7251" GCxyz="-0.038757 0.21791 0.0000025" GCrpy="0 0 0" ixx="0.13858" ixy="-0.01689" ixz="0.0000006" iyy="0.0057492" iyz="-0.0000007" izz="0.14131" prefix="wam_fk/"/>
  <xacro:Link name="wam4" xyz="0 0 0" rpy="0 0 0" mass="2.0824" GCxyz="0.0062895 -0.0000001 0.11106" GCrpy="0 0 0" ixx="0.035752" ixy="0.0000014" ixz="0.0000062" iyy="0.03577" iyz="-0.0000029" izz="0.0029213" prefix="wam_fk/"/>
  <xacro:Link name="wam5" xyz="0 0 0" rpy="0 0 0" mass="0.3067" GCxyz="0.000005 0.028375 0.00019020" GCrpy="0 0 0" ixx="0.00056797" ixy="0.0000004" ixz="0.0000000004" iyy="0.00017238" iyz="-0.00000008" izz="0.00059763" prefix="wam_fk/"/>
  <xacro:Link name="wam6" xyz="0 0 0" rpy="0 0 0" mass="0.4278" GCxyz="-0.000003 -0.014864 0.025633" GCrpy="0 0 0" ixx="0.00097981" ixy="0.00000002" ixz="-0.000000053" iyy="0.0005504" iyz="-0.00022533" izz="0.00060242" prefix="wam_fk/"/>
  <xacro:Link name="wam7" xyz="0 0 0" rpy="0 0 0" mass="0.0557" GCxyz="-0.00000001 -0.00018230 -0.28474 " GCrpy="0 0 0" ixx="0.0045368" ixy="-0.00000000001" ixz="0.0000000001" iyy="0.004537" iyz="0.00000028" izz="0.0000042" prefix="wam_fk/"/>
  
  <!-- JOINTS  --> 
  <xacro:Joint name="j1" type="revolute" xyz="0.22 0.14 0.346" rpy="0 0 0" upperLim="2.6" lowerLim="-2.6" effort="30" velocity="2" axis="0 0 1" parent="wambase" child="wam_fk/wam1" /> 
  <xacro:Joint name="j2" type="revolute" xyz="0 0 0" rpy="0 0 0" upperLim="2.0" lowerLim="-2.0" effort="30" velocity="2" axis="0 0 1" parent="wam_fk/wam1" child="wam_fk/wam2" />
  <xacro:Joint name="j3" type="revolute" xyz="0.0 0.0 0.0" rpy="0 0 0" upperLim="2.8" lowerLim="-2.8" effort="30" velocity="2" axis="0 0 1" parent="wam_fk/wam2" child="wam_fk/wam3" />
  <xacro:Joint name="j4" type="revolute" xyz="0.045 0 0.55" rpy="-${M_PI} 0 0" upperLim="3.1" lowerLim="-0.9" effort="30" velocity="2" axis="0 0 1" parent="wam_fk/wam3" child="wam_fk/wam4" />
  <xacro:Joint name="j5" type="revolute" xyz="-0.045 -0.3 0" rpy="${M_PI} 0 0" upperLim="1.3" lowerLim="-4.8" effort="30" velocity="2" axis="0 0 1" parent="wam_fk/wam4" child="wam_fk/wam5" />
  <xacro:Joint name="j6" type="revolute" xyz="0 0 0" rpy="-${M_PI} 0 0" upperLim="1.6" lowerLim="-1.6" effort="30" velocity="2" axis="0 0 1" parent="wam_fk/wam5" child="wam_fk/wam6" />
  <xacro:Joint name="j7" type="revolute" xyz="0 0 0" rpy="${M_PI} 0 0" upperLim="2.2" lowerLim="-2.2" effort="30" velocity="2" axis="0 0 1" parent="wam_fk/wam6" child="wam_fk/wam7" />
  
  <!-- Transmission -->
  <xacro:Transmission name="linkb_link0" jointName="j0" reduction="1" torque="1"/>
  <xacro:Transmission name="link0_link1" jointName="j1" reduction="1" torque="1"/>
  <xacro:Transmission name="link1_link2" jointName="j2" reduction="1" torque="1"/>
  <xacro:Transmission name="link2_link3" jointName="j3" reduction="1" torque="1"/>
  <xacro:Transmission name="link3_link4" jointName="j4" reduction="1" torque="1"/>
  <xacro:Transmission name="link4_link5" jointName="j5" reduction="1" torque="1"/>
  <xacro:Transmission name="link5_link6" jointName="j6" reduction="1" torque="1"/>
  <xacro:Transmission name="link6_link7" jointName="j7" reduction="1" torque="1"/>
  
  <!-- PLUGINS -->

  <include filename="$(find iri_wam_gazebo)/urdf/iri_wam.gazebo.xacro" />

</robot>


