<!-- -->

<?xml version="1.0"?>

<robot name="brl">

  <link name="map" />
  <link name="environment">
    <visual>
      <geometry>
        <mesh filename="package://tibi_dabo_base/model/meshes/barcelona_robot_lab.stl"/>
      </geometry>
      <material name="white">
        <color rgba="1 1 1 1"/>
      </material>
    </visual>
  </link>

  <joint name="env_to_map" type="fixed">
    <parent link="map"/>
    <child link="environment"/>
    <origin xyz="0 0 0"/>
  </joint>

</robot>

