<!-- -->

<?xml version="1.0"?>

<robot name="tibi_dabo">

  <!-- LINKS -->
  <!-- Base Link -->
  <link name="base_link">
    <visual>
      <geometry>
        <mesh filename="package://iri_segway_rmp200/model/meshes/rmp200.STL"/>
      </geometry>
    </visual>
  </link>
  <!-- Front Laser Link -->
  <link name="front_laser">
    <visual>
      <!-- from STL origin to real sensor origin 0.0625-->
      <origin xyz="-0.05 -0.06 -0.073" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://tibi_dabo_base/model/meshes/UXM30LN_m_v2.stl" />
      </geometry>
    </visual>
  </link>
  <!-- Rear Laser Link -->
  <link name="rear_laser">
    <visual>
      <!-- from STL origin to real sensor origin 0.0625-->
      <origin xyz="-0.05 -0.06 -0.073" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://tibi_dabo_base/model/meshes/UXM30LN_m_v2.stl" />
      </geometry>
    </visual>
  </link>
  <!-- Vertical Laser Link -->
  <link name="vertical_laser">
    <visual>
      <!-- from STL origin to real sensor origin 0.0625-->
      <origin xyz="-0.05 -0.06 -0.073" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://tibi_dabo_base/model/meshes/UXM30LN_m_v2.stl" />
      </geometry>
    </visual>
  </link>

  <!-- JOINTS -->
  <!-- Base Link To Front Laser Joint -->
  <joint name="base_link2front_laser" type="fixed" >
    <parent link="base_link"/>
    <child link="front_laser"/>
    <origin xyz="0.28 0 0.44" rpy="0 0 0"/>
  </joint>
  <!-- Base Link To Rear Laser Joint -->
  <joint name="base_link2rear_laser" type="fixed" >
    <parent link="base_link"/>
    <child link="rear_laser"/>
    <origin xyz="-0.28 0 0.44" rpy="3.141592 0 3.141592"/>
  </joint>
  <!-- Base Link To vertical Laser Joint -->
  <joint name="base_link2vertical_laser" type="fixed" >
    <parent link="base_link"/>
    <child link="vertical_laser"/>
    <origin xyz="0.25 0 0.84" rpy="-1.570796 0 0"/>
  </joint>


</robot>

