<launch>

<!-- Start Gazebo -->
  <include file="$(find iri_wam_simulator)/launch/wam_sim.launch" />

  
  <include file="$(find iri_wam_simulator)/launch/misc/box.launch" >
  <arg name="width_"  default="0.25"   />
  <arg name="length_" default="0.25"   />
  <arg name="height_" default="0.5"   />
  
  <arg name="pos_box_x" default="0.775" />
  <arg name="pos_box_y" default="0.0"   />
  <arg name="pos_box_z" default="0.25"  />
  <arg name="rot_box_x" default="0.0"   />
  <arg name="rot_box_y" default="0.0"   />
  <arg name="rot_box_z" default="0.0"   />
  <arg name="rot_box_w" default="1.0"   />
   <arg name="name_obstacle_" default="box1"   />
  </include>
  
  <include file="$(find iri_wam_simulator)/launch/misc/box.launch" >
  <arg name="width_"  default="0.25"   />
  <arg name="length_" default="0.25"   />
  <arg name="height_" default="0.5"   />
  
  <arg name="pos_box_x" default="0.775" />
  <arg name="pos_box_y" default="0.5"   />
  <arg name="pos_box_z" default="0.41"  />
  <arg name="rot_box_x" default="0.0"   />
  <arg name="rot_box_y" default="0.0"   />
  <arg name="rot_box_z" default="0.0"   />
  <arg name="rot_box_w" default="1.0"   />
   <arg name="name_obstacle_" default="box2"   />
  </include>
  
  <include file="$(find iri_wam_simulator)/launch/misc/box.launch" >
  <arg name="width_"  default="0.25"   />
  <arg name="length_" default="0.25"   />
  <arg name="height_" default="0.5"   />
  
  <arg name="pos_box_x" default="0.775" />
  <arg name="pos_box_y" default="-0.5"   />
  <arg name="pos_box_z" default="0.61"  />
  <arg name="rot_box_x" default="0.0"   />
  <arg name="rot_box_y" default="0.0"   />
  <arg name="rot_box_z" default="0.0"   />
  <arg name="rot_box_w" default="1.0"   />
   <arg name="name_obstacle_" default="box3"   />
  </include>
  
  <include file="$(find iri_wam_simulator)/launch/misc/box.launch" >
  <arg name="width_"  default="0.25"   />
  <arg name="length_" default="0.25"   />
  <arg name="height_" default="0.5"   />
  
  <arg name="pos_box_x" default="-0.15" />
  <arg name="pos_box_y" default="-0.0"   />
  <arg name="pos_box_z" default="0.61"  />
  <arg name="rot_box_x" default="0.0"   />
  <arg name="rot_box_y" default="0.0"   />
  <arg name="rot_box_z" default="0.0"   />
  <arg name="rot_box_w" default="1.0"   />
   <arg name="name_obstacle_" default="box4"   />
  </include>

</launch>


