<launch> 
    <!-- Load URDF WAM model -->
    <include file="$(find iri_wam_description)/launch/iri_wam_description.launch" />
		<!-- Name of Action Server (controllers) -->
	        <param name="/iri_wam_move_arm/controller_action_name" type="string" value="/iri_ros_controller/follow_joint_trajectory" />
    <!-- Controller Manager -->
    <group>
      <remap from="joint_states" to="wam_wrapper/joint_states"/>
      <include file="$(find pr2_controller_manager)/controller_manager.launch" />
    </group>

    <!-- Publish Inverse Kinematics -->
    <node name="wam_ik" pkg="iri_wam_ik" type="wam_ikac">
      <remap from="wam_ik/joint_states"  to="wam_wrapper/joint_states"/>
      <remap from="wam_ik/joints_move"   to="wam_wrapper/joints_move"/>
    </node>
</launch>
