<launch>
		<param name="/use_sim_time" value="true" />

		<!-- Controller Manager -->
		<include file="$(find pr2_controller_manager)/controller_manager.launch"/>
	   	
		<!-- Name of Action Server (controllers) -->
	        <param name="/iri_wam_move_arm/controller_action_name" type="string" value="/iri_ros_controller/follow_joint_trajectory" />

         	<!-- Load URDF  -->
		<param name="/robot_description" command="$(find xacro)/xacro.py '$(find iri_wam_simulator)/gazebo/xacro/iri_wam.gazebo.xacro'" />

 		<!-- Load Default Controllers -->
 		<rosparam command="load" file="$(find iri_wam_simulator)/controllers/config/iri_ros_controller.yaml" />

		<!-- Start Default Controllers -->
		<node name="iri_ros_controller" pkg="pr2_controller_manager" type="spawner" output="screen" args="iri_ros_controller" />
		
		<!-- Start Gazebo -->
       	        <node name="gazebo" pkg="gazebo" type="gazebo" args="-s -1 -u $(find gazebo_worlds)/worlds/empty.world" respawn="false" output="screen"/>
		
		<!-- Spawm WAM innto Simulator -->
                <node name="spawn_iri_wam_model" pkg="gazebo" type="spawn_model" args="$(optenv ROBOT_INITIAL_POSE) -unpause -urdf -param robot_description -model iri_wam" respawn="false" output="screen"/>

        
        
</launch>
