<launch>
    <node pkg="move_arm" type="move_arm_simple_action" name="iri_wam_move_iri_wam">
        <param name="group" type="string" value="iri_wam" />
        <remap from="arm_ik" to="iri_wam_iri_wam_kinematics/get_constraint_aware_ik" />
        <param name="controller_action_name" type="string" value="iri_wam_pr2_controller/follow_joint_trajectory" />
    </node>
</launch>
